altgraph==0.17.4 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
macholib==1.16.3 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "darwin"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
opencv-python==4.9.0.80 ; python_version >= "3.11" and python_version < "3.13"
packaging==24.0 ; python_version >= "3.11" and python_version < "3.13"
pefile==2023.2.7 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
pillow==10.3.0 ; python_version >= "3.11" and python_version < "3.13"
pydirectinput==1.0.4 ; python_version >= "3.11" and python_version < "3.13"
pyinstaller-hooks-contrib==2024.5 ; python_version >= "3.11" and python_version < "3.13"
pyinstaller==6.6.0 ; python_version >= "3.11" and python_version < "3.13"
pywin32-ctypes==0.2.2 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
setuptools==69.5.1 ; python_version >= "3.11" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
