colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "4.0"
opencv-python==4.9.0.80 ; python_version >= "3.11" and python_version < "4.0"
pillow==10.3.0 ; python_version >= "3.11" and python_version < "4.0"
pydirectinput==1.0.4 ; python_version >= "3.11" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
